.main-container {
	min-height: calc(100vh - 50px);
	padding-bottom: 40px;
}
.login-box {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 20px 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.login-box h3 {
	margin-bottom: 30px;
}
.login-box p {
	margin-top: 20px;
	color: #333;
}
.login-box input:focus {
	outline: none;
	border-color: #999;
	box-shadow: none;
}
.footer {
	background-color: #333;
	color: #fff;
}
.footer .copyright {
	padding: 15px;
}
.footer .copyright p {
	margin: 0px;
}
.helpdesk-searchbox {
    z-index: 0;
}
.helpdesk-searchbox .input-group-addon{
    background: white !important; 
}
.helpdesk-searchbox .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.helpdesk-searchbox button{
    border:0;
    background:transparent;
}
.nav-user-icon {
	padding: 6px !important;
	float: right;
	margin-right: 10px;
}
.nav-user-icon img {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}
.navbar {
	border-radius: 0px !important;
    border: 1px solid #e7e7e7;
    background-color: #333;
}
.navbar-default .navbar-brand {
	color: #eee;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background-color: rgba(231, 231, 231, 0.3);
}
.user-menu {
	position: absolute;
    right: 15px;
    top: 0px;
}
.home-tabs.nav-pills>li>a {
	display: inline-block;
}
.notifications-div {
	background-color: #f5f5f5;
}
.notifications-div .notifications-details-div,
.notifications-div .notifications-user-details-div {
	display: flex;
}
.notifications-div .notifications-details-div > div,
.notifications-div .notifications-user-details-div > div {
	padding: 3px;
}
.notifications-div .notifications-user-details-div .notifications-user-img img {
	max-width: 40px;
	border-radius: 50%;
}
.notifications-div .notifications-user-details-div .notifications-user-details h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}
.notifications-div .notifications-user-details-div .notifications-user-details p {
	font-size: 12px;
    color: #777;
    font-weight: 600;
}
.notifications-div .notifications-details-div .notifications-icon span {
    background-color: #ddd;
    padding: 8px;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
}
.notifications-div .notifications-details-div .notifications-icon span i {
	color: #8538ca;
}
.notifications-div .notifications-details-div .notifications-details p {
	color: #333;
    margin-top: 7px;
}
.notifications-div .notifications-details-div .notifications-img img {
	max-width: 40px;
}
.notifications-div .notifications-time p {
	color: #333;
}
.mrg-bot15 {
	margin-bottom: 15px;
}
.helpdesk-user-box {
	margin-bottom: 15px;
}
.helpdesk-user-box .helpdesk-user-img {
	position: absolute;
	width: calc(100% - 30px);
	text-align: center;
}
.helpdesk-user-box .helpdesk-user-img span {
	display: inline-block;
}
.helpdesk-user-box .helpdesk-user-img span img {
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
	border: 1px solid #ddd;
}
.helpdesk-user-box .helpdesk-user-details {
	margin-top: 20px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center;
    padding: 30px 10px 15px;
    min-height: 131px;
}
.helpdesk-user-box .helpdesk-user-details h5 {
	color: #333;
	font-weight: 600;
}
.helpdesk-user-box .helpdesk-user-details p {
	color: #777;
	font-size: 12px;
}
.helpdesk-user-box .helpdesk-user-details .call-helpdesk {
	color: #333;
	font-size: 16px;
}
@media (min-width: 768px) {
	.helpdesk-searchbox {
	    min-width: 500px;
	}
}
@media (max-width: 767px) {
	.user-menu {
		position: absolute;
	    right: 60px;
	    top: 0px;
	    margin: 0px;
	}
	.navbar-nav .open .dropdown-menu {
		clear: both;
		border: 1px solid #ddd;
		background-color: #eee;
	}
	.navbar-form {
		border: 0px;
		box-shadow: none;
	}
}